body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #BEADFA; 
    color: #000; 
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px; 
    font-weight: bold; 
    text-align: center; 
    margin-bottom: 20px; 
    color: #FFF8C9 ;
}

#wordDisplay {
    font-size: 5rem;
    color: #DFCCFB;
    margin-bottom: 20px;
}

#gameMessage {
    color: #FFF8C9;
    font-weight: bold;
    margin-bottom: 20px;
}

#keyboard {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #D0BFFF; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.letterBtn {
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    margin: 10px;
    border: none;
    border-radius: 50%;
    background-color: #DFCCFB;
    color: #000; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.letterBtn:hover {
    background-color: #FFF8C9; 
}

.wrong {
    background-color: #FFF8C9; 
    color: #000; /* Black */
}

.correct {
    background-color: #BEADFA; 
    color: #000; 
}

#hangmanImage {
    width: 200px;
    height: 160px;
    position: relative;
    margin: 20px auto;
}


.post {
    width: 10px;
    height: 150px;
    position: absolute;
    background-color: #F2F7A1;
    left: 15%;
    bottom: 10px;
}

.base {
    width: 70px;
    height: 10px;
    position: absolute;
    bottom: 0;
    background-color: #F2F7A1;
}

.beam {
    width: 70px;
    height: 10px;
    position: absolute;
    left: 15%;
    background-color: #F2F7A1;
}

.rope {
    width: 5px;
    height: 15px;
    position: absolute;
    background-color: #F2F7A1;
    left: 47.5%;
    top: 10px;
}

.head {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #F2F7A1;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 40%;
}

.body {
    width: 2px;
    height: 50px;
    background-color: #F2F7A1;
    position: absolute;
    top: 57px;
    left: 48%;
}

.left-arm, .right-arm, .left-leg, .right-leg, .head, .body {
    display: none;
}

.left-arm, .right-arm, .left-leg, .right-leg {
    width: 2px;
    height: 30px;
    background-color: #F2F7A1;
}

.left-arm {
    position: absolute;
    top: 65px;
    left: 43.1%;
    transform: rotate(45deg);
}

.left-leg {
    position: absolute;
    top: 101px;
    left: 43.1%;
    transform: rotate(45deg);
}

.right-arm {
    position: absolute;
    top: 65px;
    left: 53.1%;
    transform: rotate(-45deg);
}

.right-leg {
    position: absolute;
    top: 101px;
    left: 53.1%;
    transform: rotate(-45deg);
}

.newGame {
    background-color: #F2F7A1;
    border: none; 
    color: black; 
    padding: 15px 32px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    cursor: pointer;
    margin: 20px; 
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
